@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{font-family:'Poppins', sans-serif;
  font-weight:normal ;
  img { border-radius:50px;}
} 
h3{color:#E8630A;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}
hr{
    width: 150px;
    border: 1px solid red;
    border-top:0px;
    float: left;
}




body{background-color: #EFEFEF;
}

 *{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

header{
        display: flex;
        justify-content:space-between;
        padding: 30px 10%;
        align-items: center;
        background-color: white;
        position: fixed;
        width: 100%;
}

li, a, button{
    font-size: 15px;
    font-weight: 500;
    color: #0E185F;
    text-decoration: none;
}

.logo{cursor: pointer;
    
}

.navlist{list-style: none;
         
    
}

.navlist li{ display: inline-block;
             padding:0px 20px;
}

.navlist li a{transition:all 0.3s ease os;   }

.navlist li a:hover{color: navy; }

button{ padding:9px 25px;
        border:none;
        border-radius: 50px;
        transition:all 0.3s ease os; 
        background-color: #FDF6EC;
        cursor: pointer;
}

button:hover{ color:skyblue}     







@media screen and (max-width:500px) {
    height:1000px;
    width:100vw
}

.father{height:70vh;
        width: 100vw;
    background-image: url("engineer6.jpg");
    background-size: 50vh 100%;
    transition-property: background-image;
}

.father:hover{ background-image:url("back25.jpg");  }



.father1{
          color: white;
          padding:320px 0px 0px 40px;
          height: 20px;
          width:20px;
          font-size: 70px;
          font-weight: normal;
           text-align: center;
}
          
          
.father2{ color:white;
          font-weight: normal;
          width: 200px;
          height: 10px
          position: absolute;
          padding-left: 50px;
          padding-top:350px;
          
           }
           
           
           
.fathertext1{ position: absolute;
            text-align: justify;
            padding-top: 200px;
            color: white;
            text-align: center;
            padding-left: 470px;
            font-size: 13px;
}

.fathertext2{ 
              color:white;
              padding-top:250px;
              text-align: center;
              font-size: 22px;
             
}

.mother{
    height:1400px;
        width: 100%;
        background-image: url("back51.jpg");
     background-size: 1000px 100% 
    transition-property: background-color;
}
    

.mother:hover{  background-color:#365966;
 }

.mother1{
    height:900px;
        width: 100%;
        background-color: #EFEFEF;
        align-items: center;
}
.mother1a{display:flex;
         justify-content: space-between;
         background-color: white;
         padding: 10px 0px 10px 120px;
         margin: 40px 20px 10px 20px;
           

         
}


.mother1b{display:flex;
          margin: 0px 20px 10px 20px;
          justify-content: space-between;
          background-color: white;
          padding: 10px 120px 10px 10px;
              align-items:center;


}




                 




.mothera1image,.mothera4image,.mothera5image{border-radius: 20px;
      transition-delay: -1s;

}

.mothera2{width:68%;
          margin-left: 45px;}    
          
.mothera3{
          margin-left: 65px;}      
        
                
        
              
.mothera6{width:60%;
          margin-left: 45px;
          
}      
        
        
        
.mother2{
         padding:50px 0px 15px 0px;
         color: white;
         text-align:center;
         font-size: 50px;
         margin:0 auto;
         
}

.mother3{font-size: 22px;
         color: white;
         text-align: center;
         padding: 30px 30px 15px 30px;
         font-weight: bold;
         
        
}
.mother4{font-size: 15px;
         padding: 50px 50px 10px 90px;
         color: white;
         text-align:center;
}

.mother5{font-size: 22px;
         padding: 0px 50px 10px 90px;
         color: white;
         text-align:center;
         margin-top: 0px;
        
}

.container{ 
           height: 900px;
           width: 100vw;
           background-color:#F8F8F8;
           background-image: url("back2.jpg");
           background-size: 100%;
}

.container h2{margin-left:20px;
             color:#E8630A;
        
}
.container h4{ display:absolute;
              font-weight:bold;
               color:black;
               text-align:center;
               font-family: 'Fjalla One', sans-serif;
              
}

.container2{ display: flex;
           height: 700px;
           width: 100vw;
           overflow-y: auto;
           padding: 0px 0px 0px;0px
           
} 

.container2  h2{ color:#black;
             margin: 50px;
}
.container2  h4{ color:#black;
             margin: 50px;
             
}


.one, .two, .three, .four, .five, .six  {
           background-color:white;
           height: 600px;
           z-index:1;
           border-radius: 0px;
           margin: 10px;
 
          }


 
 .newsbutton{background-color:#E8630A
              opacity}     
           

.lastcon{background-color:#0E185F;
    color:white;
    text-align: center;
    width:250px;
    height:30px;
font-size: 80%;
padding-top:5px;
margin: 0 auto;
}
    
.buttom{
    height:800px;
        width: 100%;
    background-color: #2B2626;
    background-size: 1400px 100%;}
    
    

.buttom2 h3{margin: 0;
  position: absolute;
  top: 215%;
  left: 50%;
  transform: translate(-50%, -50%);
   color: black;
   font-weight: bold;
}
.btext h1{
color: white;
position: absolute;
left: 50px;
padding-top: 30px;
}

.btext h4{
color: white;
position: absolute;
left: 50px;
padding-top: 150px;
}


.btext2 h4{position: absolute;
left: 50px;
padding-top: 170px;
color:white
}

.btext2 h2{ position: absolute;
left: 50px;
padding-top: 140px;
color:white
} 


.btext3 h4{position: absolute;
left: 400px;
padding-top: 170px;
color:white
}



.btext4 h4{position: absolute;
left: 750px;
padding-top: 170px;
color:white
}


.btext4 h2{ position: absolute;
left: 750px;
padding-top: 140px;
color:white
} 

